/* hiding elements with class hidden */
.hidden {
  display: none;
}

#currentConditions h3 {
  padding: 1%;
  text-transform: capitalize;
}

ul {
  list-style: none;
  padding: 0;
}

#currentList li,
.forecastList li {
  padding: 1%;
}
